extends layout

block content
    h1 Edit Post: #{post.title}

    form(action=`/blog/edit/${post.id}` method="POST")
        label(for="title") Title:
        input(type="text" name="title" value=`${post.title}` required)
        br

        label(for="content") Content:
        textarea(name="content" required)= post.content
        br

        label(for="author") Author:
        input(type="text" name="author" value=`${post.author}` required)
        br

        button(type="submit") Save Changes
